* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: "Roboto", sans-serif;
  background-color: #f4f6fa;
}

/* .main {
  width: 100%;
} */

.list-and-body {
  display: flex;
  gap: 1.6rem;
  margin: 1.6rem 0;
  /* width: 100%; */
}

button {
  cursor: pointer;
}
